/* Reset */

@page {
    margin: 30px 30px 20px 30px;
    /* Recommended by Barnes & Noble in this old spec: https://simg1.imagesbn.com/pimages/pubit/support/pubit_epub_formatting_guide.pdf */
    padding: 0;
}

body {
    font-size: 100%;
    line-height: 1.5;
    /* iBooks and Kobo support widows and orphans */
    widows: 2;
    orphans: 2;
}

body * {
    line-height: inherit;
}

h1,
h2,
h3,
hr {
    page-break-inside: avoid;
    page-break-after: avoid;
    text-align: center;
}

/* Headings */

h1 {
    font-size: 1.55em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1.3em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

h3 {
    font-size: 1.15em;
    margin-top: 2em;
    margin-bottom: 1.5em;
}

/* HORIZONTAL RULES — CONTEXT BREAKS */

hr {
    width: 25%;
    margin-left: 37.5%;
    margin-top: 1.4375em;
    margin-bottom: 1.4375em;
    height: 0;
    border: none;
    border-top: 0.125em solid currentColor;
    /* currentColor = color of text (getting around night mode) */
}

/* Images */

/* Scale images to prevent them from overflowing off the screen */

img {
    width: auto;
    max-width: 100%;
    /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
    max-height: 95%;
    /* Max value iBooks enforces */
}

/* Center and prevent page breaks inside images  */

div.imgBox {
    page-break-inside: avoid;
    text-align: center;
}

/* Allows calibre to move past cover in one click. Not sure exactly why it works. ¯\_(ツ)_/¯ */

div#cover img {
    vertical-align: top;
}

/* Miscellaneous */

/* Superscript references to endnotes. */

a.noteref {
    font-size: 75%;
    line-height: 1.2;
    vertical-align: super;
    /* Fallback */
    vertical-align: 33%;
}

/* Use hyphens if supported */

p,
li {
    adobe-hyphenate: none;
    /* proprietary for Legacy RMSDK */
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

/* Override default alignment */

.centered {
    text-align: center;
    text-indent: 0;
}

.rightAlign {
    text-align: right;
    text-indent: 0;
}

/* Display chapter subtitle on new line. */

span.subtitle {
    display: block;
    font-weight: normal;
}

ul,
ol {
    margin: 1.5em 0;
    padding-left: 5%;
}